<app-action-bar></app-action-bar>

<StackLayout>
    <StackLayout height="90%">
        <Label [text]="'Chatting with: ' + conversant?.name" class="h1"></Label>
        <ListView #list margin-bottom="50" padding="5" [items]="chats$">
            <ng-template let-chat="item">
                <GridLayout columns="*" rows="auto" class="messageContainer">
                    <StackLayout [class]="'msg ' + filter(chat.from)" orientation="horizontal" [horizontalAlignment]="align(chat.from)">
                        <Image [visibility]="showImage(chat.from)" class="authorimg" stretch="aspectFill" height="50" width="50" verticalAlignment="top" [src]="showImage(chat.from) ? 'res://' + conversant?.picture : '#'" col="1"></Image>
                        <GridLayout columns="auto, auto" rows="auto, auto" class="msg_text">
                            <Label row="0" col="0" colSpan="2" [text]="chat.message" textWrap="true" verticalAlignment="top"></Label>
                            <Label row="1" col="0" [text]="chat.statusIcon" class="status_icon" verticalAlignment="bottom"></Label>
                            <Label row="1" col="1" [text]="chat.time" class="date_text" verticalAlignment="bottom"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout #chatbox height="10%">
        <GridLayout columns="*,auto" rows="auto" style="padding: 10">
            <TextField #textfield class="chatTextField" row="0" col="0" (change)="typing()"></TextField>
            <Button #btn class="chatBtn" row="0" col="1" text="send" (tap)="composeAndSendMessage()"></Button>
        </GridLayout>
    </StackLayout>

</StackLayout>