<app-action-bar></app-action-bar>

<StackLayout>
    <GridLayout columns="auto, *, auto", rows="60">
        <Label row="0" col="0" verticalAlignment="center" text="Add person:"></Label>
        <TextField row="0" col="1" #newPerson keyboardType="email" hint="Enter email" (returnPress)="addContact(newPerson.text)" class="input input-border"></TextField>
        <Button row="0" col="2" text="Add" (tap)="addContact(newPerson.text)"></Button>
    </GridLayout>

    <StackLayout>
        <ListView [items]="friends">
            <ng-template let-item="item">
                <GridLayout columns="auto, *" rows="20, 20" class="friend" (tap)="chatWith(item)">
                    <Image row="0" col="0" rowSpan="2" class="contactPicture" [src]="'res://' + item.picture"></Image>
                    <Label row="0" col="1" class="nameLabel" [text]="item.name"></Label>
                    <Label row="1" col="1" class="emailLabel" [text]="item.email"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout>
        <app-fab [friends]="friends", [friendsNumber]="friendsNumber"></app-fab>
    </StackLayout>
</StackLayout>
