<app-action-bar></app-action-bar>

<StackLayout>
    <Label class="t-30 text-center title" text="Contacts"></Label>
    <StackLayout class="hr"></StackLayout>

    <GridLayout columns="auto, *, auto", rows="auto">
        <Label row="0" col="0" text="Add person:" ></Label>
        <TextField row="0" col="1" #newPerson keyboardType="email" hint="Enter email" (returnPress)="addContact(newPerson.text)" class="input input-border"></TextField>
        <Button row="0" col="2" text="Add" (tap)="addContact(newPerson.text)" class="btn btn-primary btn-active"></Button>
    </GridLayout>

    <StackLayout>
        <ListView [items]="friends">
            <ng-template let-item="item">
                <GridLayout columns="auto, *" rows="50" (tap)="chatWith(item)">
                    <Image row="0" col="0" class="contactPicture" [src]="'res://' + item.picture"></Image>
                    <Label row="0" col="1" class="nameLabel" [text]="item.name"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout>
        <app-fab [friends]="friends", [friendsNumber]="friendsNumber"></app-fab>
    </StackLayout>
</StackLayout>
