<ActionBar class="action-bar" [title]="'Cargo Express' + (room ? ' - ' + room : '')">
    <ActionItem android.position="actionBar" ios.position="right" (tap)="onProfileButtonTap()">
        <Label text="&#xf2bd;" class="fa action-button"></Label>
    </ActionItem>
</ActionBar>

<StackLayout>
    <ListView #list height="90%" margin-bottom="50" padding="5" [items]="chats$">
        <ng-template let-chat="item">
            <GridLayout columns="*" rows="auto" class="msg">
                <StackLayout [class]="filter(chat.from)" orientation="horizontal" [horizontalAlignment]="align(chat.from)">
                    <Image [visibility]="showImage(chat.from)" class="authorimg" stretch="aspectFill" height="30" width="30" verticalAlignment="top" [src]="'res://' + senderPicture" col="1"></Image>
                    <Label [text]='chat.message' class="msg_text" textWrap="true" verticalAlignment="top"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout #chatbox height="10%">
        <GridLayout columns="*,auto" style="padding: 10">
            <TextField #textfield class="chatTextField" row="0" col="0" [(ngModel)]="userMessage"></TextField>
            <Button #btn class="chatBtn" row="0" col="1" text="send" (tap)=chat(userMessage)></Button>
        </GridLayout>
    </StackLayout>

</StackLayout>