<FlexboxLayout class="page page-login" backgroundImage="res://mesh">
    <StackLayout class="flexbox-item company-name-container">
        <Label class="t-30 company-name" text="Cargo Express"></Label>
    </StackLayout>

    <Image src="res://company_logo" stretch="none" class="company-logo"></Image>

    <StackLayout #loginLayout class="flexbox-item form p-16" [visibility]="isLoginLayoutVisible ? 'visible' : 'collapse'">
        <StackLayout>
            <form name="authForm" #authForm="ngForm" novalidate>
                <StackLayout class="auth-input-layout">
                    <FloatLabel (ngModelOutput)="authenticationDetails.email = $event" class="auth-input" id="email" placeholder="אימייל" keyboardType="email" autocorrect="false" autocapitalizationType="none" name="email"></FloatLabel>
                </StackLayout>
                <StackLayout class="auth-input-layout">
                    <FloatLabel (ngModelOutput)="authenticationDetails.password = $event" class="auth-input" placeholder="סיסמה" secure="true" name="password"></FloatLabel>
                </StackLayout>
                <StackLayout [visibility]="isRegister ? 'visible' : 'collapse'" class="auth-input-layout">
                    <FloatLabel (ngModelOutput)="authenticationDetails.confirmPassword = $event" class="auth-input" placeholder="אימות סיסמה" secure="true" name="password"></FloatLabel>
                </StackLayout>
                <StackLayout [visibility]="isRegister ? 'visible' : 'collapse'" class="auth-input-layout">                
                    <FloatLabel (ngModelOutput)="authenticationDetails.name = $event" class="auth-input" placeholder="שם מלא" type="text" name="name"></FloatLabel>
                </StackLayout>

                <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18" (tap)="authenticate(authForm.valid)" [text]="authenticationStatusName"></Button>
            </form>
        </StackLayout>
    </StackLayout>

    <StackLayout #showLoginLayout class="flexbox-item" [visibility]="isLoginLayoutVisible ? 'collapse' : 'visible'">
        <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18" (tap)="isLoginLayoutVisible = !isLoginLayoutVisible" text="התחל"></Button>        
    </StackLayout>
</FlexboxLayout>