<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <div class="myMissions">
                        <h2>My Missions</h2>
                        <hr>
                        <div class="missions">
                            <ng-template ngFor let-mission [ngForOf]="myMissions">
                                <app-mission-item [missionKind]="'myMissions'" [mission]="mission" (showChatsTrigger)="showChats($event)"></app-mission-item>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="unhandledMissions">
                        <h2>Missions To Handle</h2>
                        <hr>
                        <div class="missions">
                            <ng-template ngFor let-mission [ngForOf]="unhandledMissions">
                                <app-mission-item [missionKind]="'unhandledMissions'" [mission]="mission" (showChatsTrigger)="showChats($event)"></app-mission-item>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button mat-raised-button (click)="openCreateMission()">create mission</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chatsModal" tabindex="-1" role="dialog" aria-labelledby="chatsModalLabel" aria-hidden="true" *ngIf="!!selectedMission">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="chatsModalLabel">chats</h5>
            </div>
            <div class="modal-body">
                <app-messages-test *ngIf="selectedMission?.chats" [myId]="user._id" [conversantsClasses]="conversantsClasses" [chats]="selectedMission.chats"
                    conversantOfflineText="No Chats" [users]="users" [isDisplayConversantName]="true"></app-messages-test>
            </div>
            <div class="modal-footer">
                <textarea class="form-control" #message></textarea>
                <button class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>