<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <div class="myMissions">
                        <h2>My Missions</h2>
                        <hr>
                        <div class="missions">
                            <ng-template ngFor let-mission [ngForOf]="myMissions">
                                <app-mission-item [missionKind]="'myMissions'" [mission]="mission"></app-mission-item>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="unhandledMissions">
                        <h2>Missions To Handle</h2>
                        <hr>
                        <div class="missions">
                            <ng-template ngFor let-mission [ngForOf]="unhandledMissions">
                                <app-mission-item [missionKind]="'unhandledMissions'" [mission]="mission" (showChatsTrigger)="showChats($event)"></app-mission-item>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button mat-raised-button (click)="openCreateMission()">create mission</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chatsModal" tabindex="-1" role="dialog" aria-labelledby="chatsModalLabel" aria-hidden="true" *ngIf="chatComponent">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="chatsModalLabel">chats</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-chat [selfObject]="chatComponent"></app-chat>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>