.table td, .table th {
   text-align: center;
}

table.supportsTable td {
    padding-top: 0;
}
table.supportsTable th {
    border-top: 0;
}

table.supportsTable table th, table.supportsTable table td {
    border-right: 0;
    border-left: 0;
}

table.supportsTable table tr:last-child td {
    border-bottom: 0;
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }

 a.disabled button {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}