<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>
	 <rewrite>
      <rules>
        <rule name="cargoApp" enabled="false" patternSyntax="Wildcard">
          <match url="*/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8888/{R:1}" />
                </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
