
<div class="container">
    <div class="col-12">
        <div class="row justify-content-center">
            <ul id="messages" #messages>
                <li *ngFor="let chat of chats" [class]="'message ' + messageSender(chat)">
                    <div class="col-6 messageBody">
                        <div class="row">
                            <span class="text">{{chat.message}}</span>
                        </div>
                        <div class="row">
                            <span class="date">{{chat.date | dateToTime}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input #message class="form-control" autocomplete="off" placeholder="Type Message"/>
            </div>
            <div class="col-1">
                <button class="btn" (click)="submit()">Send</button>
            </div>
        </div>
    </div>
</div>